{{> header }}

<section class="container-fluid article-container">
{{#if article}}
  {{#each article}}
      <section data-_id={{this._id}} class="card">
      <section class="card-header">
        <h3>
            <a class="article-title" target="_blank" rel="noopener noreferrer">{{this.headline}}</a>
            <a class="btn btn-secondary delete">Delete From Saved</a>
            <a class="btn btn-dark notes">Article Notes</a>
        </h3>
      </section>
      <div class="card-body"><a class="article-link"  target="_blank" rel="noopener noreferrer" href={{this.url}}>{{this.url}}</a></div>
    </section>
  {{/each}}
</section>
{{else}}
  <section class='alert alert-warning text-center'>
    <h4>It looks like you don't have any saved articles.</h4>
  </section>
  <section class="card">
    <section class="card-header text-center">
      <h3>What Would You Like To Do?</h3>
    </section>
    <section class="card-body text-center">
      <h4>
        <a class="scrape-new">Try Scraping New Articles</a>
      </h4>
      <h4>
        <a href="/">Go to home page</a>
      </h4>
    </section>
  </section>
{{/if}}

{{> footer }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="assets/javascript/saved.js"></script>